body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
}

header {
  background: #006a4e;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #004c3f;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}
.breaking {
  background: #ffeb3b;
  padding: 10px;
  font-weight: bold;
  color: #000;
}


.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
.search-box {
  text-align: center;
  margin: 20px;
}

.search-box input {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

